RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
# UPDATER START
Vivado/zedboard/
Vivado/zcu102_hpc0/
# UPDATER END
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/*_workspace/
bootimages/
dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
